@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar{
    margin-top: 25.5px;
}

.menu-home{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: inline;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    /*padding: 25.5px 72px 22.5px 330px;*/
    margin: 25.5px 72px 25.5px 330px;
    text-decoration: none;
}
.menu-photoapp{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: inline;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    /*padding: 25.5px 72px 22.5px;*/
    margin: 25.5px 72px 25.5px 72px;
    text-decoration: none;

}
.menu-design{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: inline;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    /*padding: 25.5px 72px 22.5px;*/
    margin: 25.5px 72px 25.5px 72px;
    text-decoration: none;
}
.menu-download{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: inline;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    /*padding: 25.5px 72px 22.5px;*/
    margin: 25.5px 72px 25.5px 72px;
    text-decoration: none;
}
.header-picture{
    margin: 25.5px;
    background-size: cover;
}
.main-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 49px 253px 38px 253px;
}
.main-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 38px 67.5px 28px 67.5px;
}
.main-btn{
    background: #FF0000;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    margin: 64px 544.5px 150px
}
.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 82px 105px 29px 713px;
}
